<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
<!-- 
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
-->
</head>
<body>
<h2 id='mac'>Client MAC: {{client_mac}}</h2>
<h2 id='hub'>Wanted Hub: {{hub}}</h2>
<h2 id="login">Logging in..</h2>

<script>
function associate_hub() {
	var hub = '{{hub}}';
	if ( hub == 'unknown') {
		$('#hub').remove();
		return;
	}
	
	$.ajax({
		url: "/bbs/hub/{{hub}}/associate?only",
		context: document.body,
		dataType: 'json'
	});
	
};

function login() {
	$.ajax({
		url: "/user/login",
		context: document.body,
		dataType: 'json'
	})
	.success(function(data, status, jqxhr) {
		if (jqxhr.responseJSON.length) {
			
		
			resp = jqxhr.responseJSON[0];
			console.log(resp)
		
			$('#login').remove();
			get_user(resp);
			associate_hub();
			get_hubs();
			find_monitor();
		} else {
			$('#login').text('User not logged-in');
			$(this).append('please <a href="/user/create_form">create an account</a>');
			$(this).append(' or <a href="/user/login_form?hub={{hub}}">login</a>');
		}
	});
};

function get_user(user_id) {
	$.ajax({
		url: "/user/"+user_id,
		context: document.body,
		dataType: 'json'
	})
	.success(function(data, status, jqxhr) {
			resp = jqxhr.responseJSON;
			console.log(resp)
		
			var email = resp.email;
			var id = resp.id;
			
			$(this).append('<h2>Welcome '+email+' (user id: '+id+')</h2>');
			if (resp.image != "") {
				$(this).append('<img src='+resp.image+'/>');
			}
	});
	
};

function get_hubs() {
	$.ajax({
		url: "/bbs/hub/find",
		context: document.body,
		dataType: 'json'
	})
	.success(function(data, status, jqxhr) {
			resp = jqxhr.responseJSON;
			
			console.log(resp)
		
			if (resp.length) {
				$("#hub_not_found").remove();
				$(this).append('<h2>Associated hub(s):</h2>')
				for (var x=0; x < resp.length; x++) {
					console.log(resp[x])
					$(this).append(' id: '+resp[x].id)
					if (resp[x].description != '') {
						$(this).append(' description: '+resp[x].description)
					}
					$(this).append('<br/>')
					register_for_hub_events(resp[x].id)
				}
			} else {
				if ( $("#hub_not_found").length == 0) {
					$(this).append('<h2 id="hub_not_found">Not associated to any hub.</h2>');
				}
				setTimeout(function(){get_hubs()}, 10000);
			}
	});
	
};

function register_for_hub_events(hub) {
	var sock = new SockJS('/events/hub/'+hub);
	sock.onopen = function() {
	       console.log('open');
	};
	sock.onmessage = function(e) {
	       console.log('message', e.data);
	};
	sock.onclose = function() {
	       console.log('close');
	};
}

function find_monitor() {
	var mac = '{{client_mac}}';
	if ( mac == 'unknown') {
		return;
	}
	
	$.ajax({
		url: "/monitor/find/{{client_mac}}",
		context: document.body,
		dataType: 'text'
	})
	.success(function(data, status, jqxhr) {
		console.log(data)
		var monitor = data;
		$("#not_found").remove();
		$(this).append('<h2>Found you through monitor: '+monitor+'</h2>');
	})
	.error(function(jqxhr, status, error) {
		if ( $("#not_found").length == 0) {
			$(this).append('<h2 id="not_found">MAC not found through any monitor.</h2>');
		}
		setTimeout(function(){find_monitor()}, 10000);
	});
};

$(document).ready(
	function(){
		login();	
	}
); 
</script>

</body>
</html>
