<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script>
$(document).ready(
	function(){
		$('#create_user').submit(function(obj) {
			var dataString = 'email='+ $('#email').val() + '&password='+ $('#password').val();
			$.ajax({  
  				type: "POST",  
  				url: "/user/login",  
  				data: dataString,
  				success: function(data, status, jqxhr) {
  					resp = jqxhr.responseJSON[0];

    				$("#banner").text("logging in..");
    				$("#create_user").hide();
    				setTimeout(function(){window.open("/", "_self")}, 1000)
  				}  
			});  
			return false;
		});
	}
); 
</script>
</head>
<body>
<h2>MAC: {{client_mac}}</h2>

<h2 id="banner">Login</h2>
<form id="create_user">
Email: <input id="email" type="text" name="email"><br/>
Password: <input id="password" type="password" name="password"><br/>
<input type="submit" value="Login">
</form>

</body>
</html>
