<html>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
        
<script type="text/javascript">

function sse_message_group(e) {
	var data = jQuery.parseJSON(e.data);
	var item = '<li>msgtype: '+data.msgtype+' group_id: '+data.group_id+' mac: '+data.client+'</li>';
	$('#messages').append(item);
}; 	

function sse_message_file(e) {
	var data = jQuery.parseJSON(e.data);
	var item = '<li>msgtype: '+data.msgtype+' group_id: '+data.group_id+' mac: '+data.client+' filename: '+data.filename+'</li>';
	$('#messages').append(item);
};

function sse_message_prox(e) {
	var data = jQuery.parseJSON(e.data);
	var item = '<li>msgtype: '+data.msgtype+' mon_id: '+data.mon_id+' mac: '+data.client+'</li>';
	$('#messages').append(item);
};

$(document).ready(function() {
    
    var source_group = new EventSource('/updates/group');
    source_group.onmessage = function(e){sse_message_group(e)};
	source_group.onerror = function(s){alert(s)};

	var source_group = new EventSource('/updates/files');
    source_group.onmessage = function(e){sse_message_file(e)};
	source_group.onerror = function(s){alert(s)};

	var source_group = new EventSource('/updates/proximity');
    source_group.onmessage = function(e){sse_message_prox(e)};
	source_group.onerror = function(s){alert(s)};
});

</script>
    </head>
    <body>
    <ol id="messages">
    </ol>
    </body>
</html>